@import "../../global.scss";
.input {
  border: none;
  border-bottom: 2px solid $blue;

  &:focus {
    outline: none;
  }

  color: $blue;
  background: transparent;

  padding: 8px 0;
  width: 100%;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light-blue;
    opacity: 1; /* Firefox */
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $light-blue;
  }
}
