.row {
  display: flex;
  flex-direction: row;

  cursor: pointer;
  transition: 200ms;

  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 100%;

  background-color: transparent;
  border-bottom: 1px solid var(--blue);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  .name {
    color: var(--blue);
    font-size: 28px;
    font-weight: 600;

    text-align: start;
  }

  .button-container {
    display: flex;
    flex-direction: row;
  }

  .icon {
    height: 28px;
    padding: 0 10px;
  }

  @media (max-width: 1024px) {
    .name {
      font-size: 18px;
    }

    .icon {
      height: 22px;
    }
  }
}
