.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;

  cursor: pointer;

  transition: 200ms;

  font-weight: 500;
  font-size: 28px;
  padding: 8px 10px;

  &:active {
    opacity: 0.8;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
  }

  &.-default {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);

    &:hover {
      color: var(--blue);
      background-color: var(--white);
    }
  }

  &.-outlined {
    background-color: var(--white);
    color: var(--blue);

    border: 1px solid var(--blue);

    &:hover {
      color: var(--white);
      background-color: var(--blue);
    }
  }

  &.-transparent {
    background-color: transparent;
    color: var(--blue);

    position: absolute;

    width: auto;
    top: 0;
    right: 0;

    svg {
      width: 40px;
      height: 40px;

      color: var(--blue);
      cursor: pointer;

      top: 20px;
      right: 20px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
