@import "../../global.scss";
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;

  cursor: pointer;

  transition: 200ms;

  &:active {
    opacity: 0.8;
  }
}

.default {
  @extend .button;

  background-color: $blue;
  color: $white;
  border: 1px solid $blue;

  &:hover {
    color: $blue;
    background-color: $white;
  }
}

.outlined {
  @extend .button;
  background-color: $white;
  color: $blue;

  border: 1px solid $blue;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}

.transparent {
  @extend .button;
  background-color: transparent;
  color: $blue;
  &:hover {
    opacity: 0.9;
  }
}

.md {
  font-weight: 500;
  font-size: 28px;
  padding: 8px 10px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.lg {
  padding: 20px;
  font-size: 32px;

  @media (max-width: 1024px) {
    font-size: 28px;
  }
}
