$blue: #0aa3c6;
$light-blue: #98d4e1;
$background-blue: rgba(130, 228, 250, 1);
$background-light-blue: rgba(183, 251, 255, 0.3214);
$red: #d94141;
$gray: #a1a1a1;
$white: #ffffff;

body {
  background-image: linear-gradient(
    to bottom,
    $background-blue,
    $background-light-blue,
    $background-blue
  );
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button,
textarea {
  font: 600 18px Roboto, sans-serif;
  border: none;
  &:focus {
    outline: none;
  }
}
